body {
  height: 100vh;
  font-size: x-large;
}

.la-microphone {
  font-size: 128px;
}

.playing {
  color: cornflowerblue;
  transform: scale(1);
  animation: play-anim 0.5s;
}

@keyframes play-anim {
  0% {
    transform: scale(0.9);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    color: black;
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    text-shadow: 0 0 5px rgba(100, 149, 237, 0.7);
  }

  100% {
    transform: scale(1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: cornflowerblue;
  }
}
