{% extends "base.html" %} {% block body %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="alert alert-warning" role="alert">
  {% for category, message in messages %} {{ message }} <br />
  {% endfor %}
</div>
{% endif %} {% endwith %}
<div class="d-flex align-items-center justify-content-center m-auto w-50 h-75">
  <form action="save_tts" method="post" id="text_form" class="text-center w-50">
    <div>
      <h3>Enter some text</h3>
      <input
        type="text"
        name="txt"
        id="input_text"
        class="form-control mt-3 mb-4"
        placeholder="Enter text here..."
      />
    </div>
    <div class="m-auto d-grid gap-2 w-50">
      <button id="submit_btn" class="btn btn-primary btn-lg btn-block">
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %} {% block myjs %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock myjs %} {% block mycss %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock mycss %}
